# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

#  Future downloadFile(int index,Reference ref)async{
#    final url=await ref.getDownloadURL();
#    print("pdf url : $url");
#    final tempDir=await getTemporaryDirectory();
#    final path=File('${tempDir.path}/${ref.name}');
#    await Dio().download(url, path);
#
#    //save to gallery gallery_server:2.3.2
#    if(url.contains('.jpg')){
#      await GallerySaver.saveImage(path as String,toDcim: true);
#    } else if(url.contains('.pdf')){
#      await GallerySaver.saveImage(path as String,toDcim: true);
#    } else if(url.contains('.png')){
#      await GallerySaver.saveImage(path as String,toDcim: true);
#    }
#
#    ScaffoldMessenger.of(context).showSnackBar(
#      SnackBar(content: Text('Downloaded ${ref.name}')),
#    );
#  }

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
